@import url('normalize.css');

:root {
  --bg-color-dark: #f2f1f6;
  --bg-color-light: #ffffff;
  --text-color-light: #86858a;
  --text-color-dark: #000000;
  --border-color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-dark: #000000;
    --bg-color-light: #1c1c1e;
    --text-color-light: #636367;
    --text-color-dark: #f6f6f8;
    --border-color:   #2b2b2d;
  }
}

body {
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    max-width: 60ch;
    margin-inline: auto;
  }
}

body > * {
  margin-inline: 1em;
}

h1 {
  color: var(--text-color-light);
  font-size: 1rem;
  text-align: center;
}

section h2 {
  color: var(--text-color-light);
  font-size: 1rem;
  font-variant: small-caps;

  border-width: 2px;
  border-block-end-style: solid;
  border-color: var(--border-color);
  padding-block-end: 1em;
}

.buttons {
  height: 3em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5em;
}

.buttons button {
  flex-grow: 1;
  flex-basis: calc(25% - .5em);
  font-size: 1.5em;
  background-color: var(--bg-color-light);

  border: solid;
  border-width: 2px;
  border-radius: .6em;
  border-color: var(--border-color);
}

.buttons button:hover {
  background-color: deepskyblue !important;
}

.buttons button:focus-visible,
.buttons select:focus-visible,
textarea:focus-visible {
  outline: 4px solid;
  outline-offset: 2px;
  outline-color: deepskyblue;
}

.buttons select {
  flex-grow: 1;
  font-size: 1.5em;
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);

  border: solid;
  border-width: 2px;
  border-radius: .6em;
  border-color: var(--border-color);

  padding-inline-start: .5em;
}

.icon {
  color: var(--text-color-dark);
  transform: translateY(10%) scale(1.1);
}

#power-off {
  background-color: hsl(0,100%,65%);
}

#power-on {
  background-color: hsl(120,100%,65%);
}

#manual-http-request {
  font-family: monospace;

  width: calc(100% - 1em);
  height: 20ch;
  border: none;
  border-radius: .6em;
  padding: .5em;
  margin-block-end: 1em;

  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
}

.response-status {
  display: none;
  color: var(--text-color-dark);
  text-align: center;
  font-weight: 600;
  border-radius: .6em;
  padding: .25em;

  margin-block-end: .5em;
}

#manual-http-request-ok {
  background-color: hsl(120,100%,65%);
}

#manual-http-request-ko {
  background-color: hsl(0,100%,65%);
}

@media (prefers-color-scheme: dark) {
  #power-off, #manual-http-request-ko {
    background-color: hsl(0,100%,35%);
  }

  #power-on, #manual-http-request-ok {
    background-color: hsl(120,100%,35%);
  }
}