@import url('normalize.css');

:root {
  --bg-color-dark: #f2f1f6;
  --bg-color-light: #ffffff;
  --text-color-light: #86858a;
  --text-color-dark: #000000;
}

body {
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    max-width: 70ch;
    margin-inline: auto;
  }
}

body > * {
  margin-inline: 1em;
}

h1 {
  font-size: 1rem;
  text-align: center;
}

section h2 {
  color: var(--text-color-light);
  font-size: 1rem;
  font-variant: small-caps;
}

.buttons {
  background-color: var(--bg-color-light);
  border-radius: 1em;
  padding: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5em;
}

.buttons button {
  flex-grow: 1;
  font-size: 2em;
  background-color: var(--bg-color-dark);

  border: none;
  border-radius: .6em;
}

.buttons button:hover {
  background-color: aliceblue !important;
}

.buttons button:focus-visible {
  outline: 4px solid;
  outline-offset: 2px;
}

#power-off {
  background-color: hsl(0,100%,75%);
}

#power-on {
  background-color: hsl(120,100%,75%);
}

.buttons select {
  flex-grow: 1;
  font-size: 2.5em;
  background-color: var(--bg-color-dark);

  border: none;
  border-radius: .4em;
}